<h1>Camilo Andrés Palacio Mier</h1>
<h1>Luisa María Olivero Acevedo</h1>
<div class="container bg-white shadow-lg p-3 mb-5 bg-body rounded">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>Obtener prestamos de usuarios</h1>
        <select id="select" class="form-select w-50">
            <option selected disabled>Seleccione una opcion</option>
            <% @prestamos.each do |prestamo| %>
                <option value=<%= prestamo.Usuario.id%>><%= prestamo.Usuario.id%>. <%= prestamo.Usuario.nombres+' '+prestamo.Usuario.apellidos%></option>
            <% end %>
        </select>
    </div>
    <div id="results">
</div>
</div>

<script>
    const input = document.querySelector('#select');
    const allOptions = [...input.options];
    const results = document.querySelector('#results');
    const options = {year: 'numeric', month: 'long', day: 'numeric' }
    const singleOption = [];
    allOptions.forEach(option => {
        singleOption.find(item => item.value === option.value) ? '' : singleOption.push(option);
    });
    input.innerHTML = singleOption.map(option => `<option ${option.disabled ? 'disabled': ''} ${option.selected ? 'selected': ''} value="${option.value}">${option.text}</option>`).join('');
    input.addEventListener('change', (e) => {
        const value = e.target.value;
        fetch((`/users/lease/${value}`), {
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
        })
            .then(res => res.json())
            .then(data => {
                results.innerHTML = (`<table class="table table-striped" >
                        <thead>
                            <tr>
                            <th scope="col">Id</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Creado</th>
                                <th scope="col">Actualizado</th>
                            </tr>
                        </thead>
                        <tbody>
                        ${data.map(item => {
                            const fecha = new Date(item.fecha).toLocaleDateString("es", options);
                            const created = new Date(item.created_at).toLocaleDateString("es", options);
                            const updated = new Date(item.updated_at).toLocaleDateString("es", options);
                            const estado = item.estado == 1 ? 'Activo' : 'Finalizado';
                            return(`
                            <tr>
                                <td>${item.id}</td>
                                <td>${fecha}</td>
                                <td>${estado}</td>
                                <td>${created}</td>
                                <td>${updated}</td>
                            </tr>
                            `)})} 
                        </tbody>
                    </table>`);
                });
    });
</script>