<div id="<%= dom_id prestamo %>">
  <p>
    <strong>Fecha:</strong>
    <%= prestamo.fecha %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= prestamo.estado %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= prestamo.Usuario_id %>
  </p>

</div>
