<div class="container bg-white shadow-lg p-3 mb-5 bg-body rounded">
<h1 class="text-center">New usuario</h1>
 <div class="d-flex justify-content-center flex-column">
<%= render "form", usuario: @usuario %>
  </div>
<br>
</div>
