<div id="<%= dom_id libro %>">
  <p>
    <strong>Titulo:</strong>
    <%= libro.titulo %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= libro.autor %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= libro.year %>
  </p>

</div>
